In [30]:
import pandas as pd
import numpy as np
from pathlib import Path

In [31]:
csvpath = Path('../Project-03/teamGameStats.csv')
df = pd.read_csv(csvpath)

In [32]:
df.shape

(25476, 26)

In [33]:
df.head(16)

,TEAM,TEAM1,H/A,TEAM2,GAMEDATE,W/L,MIN,PTS,FGM,FGA,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,ATL,ATL,vs,IND,4/18/2021,W,48,129,45,92,...,76.5,14,37,51,20,10,8,7,19,12
1,CHA,CHA,vs,POR,4/18/2021,W,48,109,39,83,...,76.5,7,39,46,26,14,6,8,25,8
2,NOP,NOP,@,NYK,4/18/2021,L,53,112,41,101,...,80.0,20,32,52,25,13,6,4,16,-10
3,MIA,MIA,vs,BKN,4/18/2021,W,48,109,38,87,...,81.0,16,37,53,28,17,9,1,13,2
4,POR,POR,@,CHA,4/18/2021,L,48,101,36,91,...,67.9,13,34,47,18,9,7,3,17,-8
5,OKC,OKC,@,TOR,4/18/2021,L,48,106,37,82,...,85.7,9,37,46,22,23,6,8,19,-6
6,MIN,MIN,@,LAC,4/18/2021,L,48,105,36,88,...,76.2,6,31,37,27,11,6,7,21,-19
7,ORL,ORL,vs,HOU,4/18/2021,L,48,110,41,91,...,89.5,9,27,36,28,15,10,5,19,-4
8,TOR,TOR,vs,OKC,4/18/2021,W,48,112,37,96,...,87.5,16,31,47,23,15,9,5,15,6
9,IND,IND,@,ATL,4/18/2021,L,48,117,45,92,...,85.0,8,33,41,33,12,7,5,27,-12
10,BKN,BKN,@,MIA,4/18/2021,L,48,107,39,82,...,66.7,8,30,38,26,11,10,6,17,-2
11,DAL,DAL,vs,SAC,4/18/2021,L,48,107,39,87,...,65.0,10,32,42,15,14,3,8,20,-14
12,SAC,SAC,@,DAL,4/18/2021,W,48,121,44,89,...,88.0,10,32,42,22,8,11,3,19,14
13,LAC,LAC,vs,MIN,4/18/2021,W,48,124,45,89,...,76.5,8,40,48,31,15,6,3,26,19
14,HOU,HOU,@,ORL,4/18/2021,W,48,114,42,82,...,70.0,10,33,43,26,19,7,7,21,4
15,NYK,NYK,vs,NOP,4/18/2021,W,53,122,45,95,...,87.5,13,36,49,27,13,9,6,26,10

In [34]:
home = df[df['H/A'] == 'vs']
home = home.reset_index()

In [35]:
home.head()

,index,TEAM,TEAM1,H/A,TEAM2,GAMEDATE,W/L,MIN,PTS,FGM,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,0,ATL,ATL,vs,IND,4/18/2021,W,48,129,45,...,76.5,14,37,51,20,10,8,7,19,12
1,1,CHA,CHA,vs,POR,4/18/2021,W,48,109,39,...,76.5,7,39,46,26,14,6,8,25,8
2,3,MIA,MIA,vs,BKN,4/18/2021,W,48,109,38,...,81.0,16,37,53,28,17,9,1,13,2
3,7,ORL,ORL,vs,HOU,4/18/2021,L,48,110,41,...,89.5,9,27,36,28,15,10,5,19,-4
4,8,TOR,TOR,vs,OKC,4/18/2021,W,48,112,37,...,87.5,16,31,47,23,15,9,5,15,6

In [36]:
away = df[df['H/A'] == '@']
away = away.reset_index()

In [37]:
away.head()

,index,TEAM,TEAM1,H/A,TEAM2,GAMEDATE,W/L,MIN,PTS,FGM,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,2,NOP,NOP,@,NYK,4/18/2021,L,53,112,41,...,80.0,20,32,52,25,13,6,4,16,-10
1,4,POR,POR,@,CHA,4/18/2021,L,48,101,36,...,67.9,13,34,47,18,9,7,3,17,-8
2,5,OKC,OKC,@,TOR,4/18/2021,L,48,106,37,...,85.7,9,37,46,22,23,6,8,19,-6
3,6,MIN,MIN,@,LAC,4/18/2021,L,48,105,36,...,76.2,6,31,37,27,11,6,7,21,-19
4,9,IND,IND,@,ATL,4/18/2021,L,48,117,45,...,85.0,8,33,41,33,12,7,5,27,-12

In [38]:
home.columns = ['H_' + str(col) for col in home.columns]
away.columns = ['A_' + str(col) for col in away.columns]

In [39]:
home.rename(columns={'H_GAMEDATE':'GAMEDATE'}, inplace=True)
away.rename(columns={'A_GAMEDATE':'GAMEDATE'}, inplace=True)

In [40]:
home.head(8)

,H_index,H_TEAM,H_TEAM1,H_H/A,H_TEAM2,GAMEDATE,H_W/L,H_MIN,H_PTS,H_FGM,...,H_FT%,H_OREB,H_DREB,H_REB,H_AST,H_TOV,H_STL,H_BLK,H_PF,H_+/-
0,0,ATL,ATL,vs,IND,4/18/2021,W,48,129,45,...,76.5,14,37,51,20,10,8,7,19,12
1,1,CHA,CHA,vs,POR,4/18/2021,W,48,109,39,...,76.5,7,39,46,26,14,6,8,25,8
2,3,MIA,MIA,vs,BKN,4/18/2021,W,48,109,38,...,81.0,16,37,53,28,17,9,1,13,2
3,7,ORL,ORL,vs,HOU,4/18/2021,L,48,110,41,...,89.5,9,27,36,28,15,10,5,19,-4
4,8,TOR,TOR,vs,OKC,4/18/2021,W,48,112,37,...,87.5,16,31,47,23,15,9,5,15,6
5,11,DAL,DAL,vs,SAC,4/18/2021,L,48,107,39,...,65.0,10,32,42,15,14,3,8,20,-14
6,13,LAC,LAC,vs,MIN,4/18/2021,W,48,124,45,...,76.5,8,40,48,31,15,6,3,26,19
7,15,NYK,NYK,vs,NOP,4/18/2021,W,53,122,45,...,87.5,13,36,49,27,13,9,6,26,10

In [41]:
away.head(8)

,A_index,A_TEAM,A_TEAM1,A_H/A,A_TEAM2,GAMEDATE,A_W/L,A_MIN,A_PTS,A_FGM,...,A_FT%,A_OREB,A_DREB,A_REB,A_AST,A_TOV,A_STL,A_BLK,A_PF,A_+/-
0,2,NOP,NOP,@,NYK,4/18/2021,L,53,112,41,...,80.0,20,32,52,25,13,6,4,16,-10
1,4,POR,POR,@,CHA,4/18/2021,L,48,101,36,...,67.9,13,34,47,18,9,7,3,17,-8
2,5,OKC,OKC,@,TOR,4/18/2021,L,48,106,37,...,85.7,9,37,46,22,23,6,8,19,-6
3,6,MIN,MIN,@,LAC,4/18/2021,L,48,105,36,...,76.2,6,31,37,27,11,6,7,21,-19
4,9,IND,IND,@,ATL,4/18/2021,L,48,117,45,...,85.0,8,33,41,33,12,7,5,27,-12
5,10,BKN,BKN,@,MIA,4/18/2021,L,48,107,39,...,66.7,8,30,38,26,11,10,6,17,-2
6,12,SAC,SAC,@,DAL,4/18/2021,W,48,121,44,...,88.0,10,32,42,22,8,11,3,19,14
7,14,HOU,HOU,@,ORL,4/18/2021,W,48,114,42,...,70.0,10,33,43,26,19,7,7,21,4

In [42]:
home.sort_values(by=['H_TEAM1', 'GAMEDATE'], inplace=True)

In [43]:
away.sort_values(by=['A_TEAM2', 'GAMEDATE'], inplace=True)

In [44]:
home.head()

,H_index,H_TEAM,H_TEAM1,H_H/A,H_TEAM2,GAMEDATE,H_W/L,H_MIN,H_PTS,H_FGM,...,H_FT%,H_OREB,H_DREB,H_REB,H_AST,H_TOV,H_STL,H_BLK,H_PF,H_+/-
5091,10179,ATL,ATL,vs,SAS,01/01/2017,W,53,114,42,...,59.3,11,35,46,25,12,6,6,21,2
8803,17607,ATL,ATL,vs,GSW,01/03/2014,L,48,100,37,...,84.2,7,34,41,23,20,15,4,19,-1
1385,2772,ATL,ATL,vs,IND,01/04/2020,W,48,116,42,...,91.7,4,36,40,22,14,8,4,28,5
11414,22828,ATL,ATL,vs,MIA,01/05/2012,L,63,109,36,...,67.4,15,36,51,22,19,10,5,24,-7
10028,20059,ATL,ATL,vs,BOS,01/05/2013,L,48,81,28,...,78.9,8,28,36,18,21,8,4,19,-8

In [45]:
away.head()

,A_index,A_TEAM,A_TEAM1,A_H/A,A_TEAM2,GAMEDATE,A_W/L,A_MIN,A_PTS,A_FGM,...,A_FT%,A_OREB,A_DREB,A_REB,A_AST,A_TOV,A_STL,A_BLK,A_PF,A_+/-
5089,10181,SAS,SAS,@,ATL,01/01/2017,L,53,112,42,...,86.4,9,38,47,27,12,5,6,21,-2
8803,17605,GSW,GSW,@,ATL,01/03/2014,W,48,101,39,...,68.0,13,34,47,30,21,15,7,17,1
1384,2765,IND,IND,@,ATL,01/04/2020,L,48,111,36,...,82.9,13,26,39,24,11,8,4,24,-5
11413,22826,MIA,MIA,@,ATL,01/05/2012,W,63,116,45,...,78.3,14,42,56,25,22,6,6,35,7
10024,20049,BOS,BOS,@,ATL,01/05/2013,W,48,89,39,...,66.7,16,28,44,27,13,11,4,15,8

In [46]:
home=home.drop(['H_index'], axis=1)

In [47]:
away=away.drop(['A_index'], axis=1)

In [48]:
home=home.reset_index()

In [49]:
away=away.reset_index()

In [50]:
home.head()

,index,H_TEAM,H_TEAM1,H_H/A,H_TEAM2,GAMEDATE,H_W/L,H_MIN,H_PTS,H_FGM,...,H_FT%,H_OREB,H_DREB,H_REB,H_AST,H_TOV,H_STL,H_BLK,H_PF,H_+/-
0,5091,ATL,ATL,vs,SAS,01/01/2017,W,53,114,42,...,59.3,11,35,46,25,12,6,6,21,2
1,8803,ATL,ATL,vs,GSW,01/03/2014,L,48,100,37,...,84.2,7,34,41,23,20,15,4,19,-1
2,1385,ATL,ATL,vs,IND,01/04/2020,W,48,116,42,...,91.7,4,36,40,22,14,8,4,28,5
3,11414,ATL,ATL,vs,MIA,01/05/2012,L,63,109,36,...,67.4,15,36,51,22,19,10,5,24,-7
4,10028,ATL,ATL,vs,BOS,01/05/2013,L,48,81,28,...,78.9,8,28,36,18,21,8,4,19,-8

In [51]:
home=home.drop(['index'], axis=1)

In [52]:
away=away.drop(['index'], axis=1)

In [53]:
home.head()

,H_TEAM,H_TEAM1,H_H/A,H_TEAM2,GAMEDATE,H_W/L,H_MIN,H_PTS,H_FGM,H_FGA,...,H_FT%,H_OREB,H_DREB,H_REB,H_AST,H_TOV,H_STL,H_BLK,H_PF,H_+/-
0,ATL,ATL,vs,SAS,01/01/2017,W,53,114,42,92,...,59.3,11,35,46,25,12,6,6,21,2
1,ATL,ATL,vs,GSW,01/03/2014,L,48,100,37,80,...,84.2,7,34,41,23,20,15,4,19,-1
2,ATL,ATL,vs,IND,01/04/2020,W,48,116,42,82,...,91.7,4,36,40,22,14,8,4,28,5
3,ATL,ATL,vs,MIA,01/05/2012,L,63,109,36,94,...,67.4,15,36,51,22,19,10,5,24,-7
4,ATL,ATL,vs,BOS,01/05/2013,L,48,81,28,68,...,78.9,8,28,36,18,21,8,4,19,-8

In [54]:
combined_df = pd.concat([home, away], axis=1)

In [55]:
combined_df.head()

,H_TEAM,H_TEAM1,H_H/A,H_TEAM2,GAMEDATE,H_W/L,H_MIN,H_PTS,H_FGM,H_FGA,...,A_FT%,A_OREB,A_DREB,A_REB,A_AST,A_TOV,A_STL,A_BLK,A_PF,A_+/-
0,ATL,ATL,vs,SAS,01/01/2017,W,53,114,42,92,...,86.4,9,38,47,27,12,5,6,21,-2
1,ATL,ATL,vs,GSW,01/03/2014,L,48,100,37,80,...,68.0,13,34,47,30,21,15,7,17,1
2,ATL,ATL,vs,IND,01/04/2020,W,48,116,42,82,...,82.9,13,26,39,24,11,8,4,24,-5
3,ATL,ATL,vs,MIA,01/05/2012,L,63,109,36,94,...,78.3,14,42,56,25,22,6,6,35,7
4,ATL,ATL,vs,BOS,01/05/2013,L,48,81,28,68,...,66.7,16,28,44,27,13,11,4,15,8

In [56]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12738 entries, 0 to 12737
Data columns (total 52 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   H_TEAM    12738 non-null  object
 1   H_TEAM1   12738 non-null  object
 2   H_H/A     12738 non-null  object
 3   H_TEAM2   12738 non-null  object
 4   GAMEDATE  12738 non-null  object
 5   H_W/L     12738 non-null  object
 6   H_MIN     12738 non-null  int64
 7   H_PTS     12738 non-null  int64
 8   H_FGM     12738 non-null  int64
 9   H_FGA     12738 non-null  int64
 10  H_FG%     12738 non-null  float64
 11  H_3PM     12738 non-null  int64
 12  H_3PA     12738 non-null  int64
 13  H_3P%     12738 non-null  float64
 14  H_FTM     12738 non-null  int64
 15  H_FTA     12738 non-null  int64
 16  H_FT%     12738 non-null  float64
 17  H_OREB    12738 non-null  int64
 18  H_DREB    12738 non-null  int64
 19  H_REB     12738 non-null  int64
 20  H_AST     12738 non-null  int64
 21  H_TOV     12738 non-null  int64
 22  H_STL     12738 non-null  int64
 23  H_BLK     12738 non-null  int64
 24  H_PF      12738 non-null  int64
 25  H_+/-     12738 non-null  int64
 26  A_TEAM    12738 non-null  object
 27  A_TEAM1   12738 non-null  object
 28  A_H/A     12738 non-null  object
 29  A_TEAM2   12738 non-null  object
 30  GAMEDATE  12738 non-null  object
 31  A_W/L     12738 non-null  object
 32  A_MIN     12738 non-null  int64
 33  A_PTS     12738 non-null  int64
 34  A_FGM     12738 non-null  int64
 35  A_FGA     12738 non-null  int64
 36  A_FG%     12738 non-null  float64
 37  A_3PM     12738 non-null  int64
 38  A_3PA     12738 non-null  int64
 39  A_3P%     12738 non-null  float64
 40  A_FTM     12738 non-null  int64
 41  A_FTA     12738 non-null  int64
 42  A_FT%     12738 non-null  float64
 43  A_OREB    12738 non-null  int64
 44  A_DREB    12738 non-null  int64
 45  A_REB     12738 non-null  int64
 46  A_AST     12738 non-null  int64
 47  A_TOV     12738 non-null  int64
 48  A_STL     12738 non-null  int64
 49  A_BLK     12738 non-null  int64
 50  A_PF      12738 non-null  int64
 51  A_+/-     12738 non-null  int64
dtypes: float64(6), int64(34), object(12)
memory usage: 5.1+ MB

In [68]:
combined_df['GAMEDATE'] = combined_df['GAMEDATE'].astype(str).apply(pd.to_datetime)

In [69]:
combined_df

,H_TEAM,H_TEAM1,H_H/A,H_TEAM2,GAMEDATE,H_W/L,H_MIN,H_PTS,H_FGM,H_FGA,...,A_FT%,A_OREB,A_DREB,A_REB,A_AST,A_TOV,A_STL,A_BLK,A_PF,A_+/-
0,ATL,ATL,vs,SAS,2017-01-01,W,53,114,42,92,...,86.4,9,38,47,27,12,5,6,21,-2
1,ATL,ATL,vs,GSW,2014-01-03,L,48,100,37,80,...,68.0,13,34,47,30,21,15,7,17,1
2,ATL,ATL,vs,IND,2020-01-04,W,48,116,42,82,...,82.9,13,26,39,24,11,8,4,24,-5
3,ATL,ATL,vs,MIA,2012-01-05,L,63,109,36,94,...,78.3,14,42,56,25,22,6,6,35,7
4,ATL,ATL,vs,BOS,2013-01-05,L,48,81,28,68,...,66.7,16,28,44,27,13,11,4,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12733,WAS,WAS,vs,CHA,2021-03-30,L,48,104,41,100,...,84.2,9,41,50,24,14,6,6,17,10
12734,WAS,WAS,vs,LAC,2021-03-04,W,48,119,40,88,...,92.6,10,35,45,24,19,4,4,31,-2
12735,WAS,WAS,vs,NOP,2021-04-16,W,53,117,45,96,...,84.8,11,45,56,26,16,11,7,22,-2
12736,WAS,WAS,vs,DET,2021-04-17,W,48,121,50,94,...,73.9,9,36,45,19,18,7,6,20,-21
12737,WAS,WAS,vs,DAL,2021-04-03,L,48,87,35,86,...,79.2,14,36,50,17,8,7,4,22,22

In [ ]:
combined_df.shape

In [ ]:
combined_df.info('include=all')

In [ ]:
combined_df.to_csv('combined_df.csv')

In [ ]:
combined_df.head()